html{
    min-width: 500px;
    position: relative; 
} 

body{
margin: auto;
padding-left: 1em;
padding-right: 1em;
height: 100%;
background-color:rgb(255, 255, 255); 
background-size: cover;
font-family: 'Exo 2', sans-serif;

}

main{
width: 100%;
margin-left: auto;
margin-right: auto;
background-color: rgba(0, 0, 0, 0);
}

header{
min-height:20em;
display: block;
background-color: rgba(0, 0, 0, 0);
height: 10em;
padding: 0;
}

#video{
    width: 100%;
}
.container { position:relative; }
.container video {
    position:relative;
    width: 100%;
    z-index:0;
    top:0;
    left: 0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    margin: 0;
    padding: 1em, 1em, 1em, 1em;
    font-size: 5em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

#title2{
    margin-top:1em;
    padding: 1em, 1em, 1em, 1em;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.topnav .icon {
    display:  none;
}

.topnav {
    position: absolute;
    overflow: hidden;
    top: 90px;
    right: 16px;
    text-shadow: 2px 2px black;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}


@media only screen and (max-width: 600px){
.topnav{
    float: right;
    display:none;
}    
.container { position:relative; }
.container video {
    position:relative;
    width: 100%;
    z-index:0;
    top:1em;
    left: 0;
}

#title{
    padding-top: 2em;
    margin: 0;
    padding: .5em, .5em, .5em, .5em;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

    #title2{
    margin-top:1.5em;
    padding: .5em, .5em, .5em, .5em;
    font-size: 1em;
    color: white;
    text-align: center;
}

#button{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    line-height: 80px;
    margin-left: 4em;
}

#button2{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid rgb(255, 250, 250);
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid rgb(255, 251, 251);
    display: block;
    float: inline-end;
    margin-top: 2em;
    margin-left: 40%;
    width: 10%;
}

section{
    text-align: center;
}
aside{
    text-align: center;
    padding-bottom: 2em;
}

footer{
    text-align: center;
}
}


@media only screen and (min-width: 601px){
    .topnav{
    float: right;
    display:block;
    top: 2.5em;
}    
.container { position:relative; }
.container video {
    position:relative;
    width: 100%;
    z-index:0;
    top:1em;
    left: 0;
}

#title{
    padding-top: 4em;
    margin: 0;
    font-size: 3em;
    color: white;
    text-align: center;
}

    #title2{
    margin-top:1.5em;
    font-size: 2em;
    color: white;
    text-align: center;
}

#button{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    line-height: 95px;
    margin-left: 8.7em;
}

#button2{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid rgb(255, 250, 250);
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid rgb(255, 251, 251);
    display: block;
    float: inline-end;
    margin-top: 2em;
    margin-left: 45%;
    width: 5%;
}




header{
    min-height: 30em;
}

section{
    text-align: center;
}
aside{
    text-align: center;
    padding-bottom: 5em;
}

footer{
    text-align: center;
}
}



@media only screen and (min-width: 1000px){


header{
min-height:52em;
display: block;
background-color: rgba(0, 0, 0, 0);
height: 10em;
padding: 0;
}

section{
    display: block;
    float: inline-end;
    background-color: rgb(252, 249, 249);
    min-height: auto;
    text-align: center;

}

aside{

text-align: center;
min-height: 40em;
background-color: rgb(252, 250, 250);
color: rgb(15, 14, 14);
padding-bottom: 2em;
}

h3{
padding-top: 3em;
font-size: 2.5em;
}

p1{
    font-size:1.2em;
}

#button{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    float: inline-end;
    margin-left: 37%;
    margin-top: 2em;
}

#button2{
    text-align: center;
    font: 14px 'Exo 2';
    text-decoration: none;
    background-color: rgb(78, 94, 235);
    color: #f1f1f3;
    padding: 12px 16px;
    border-top: 1px solid rgb(255, 250, 250);
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid rgb(255, 251, 251);
    display: block;
    float: inline-end;
    margin-top: 2em;
    margin-left: 45%;
    width: 5%;
}

.topnav {
    position: absolute;
    overflow: hidden;
    top: 90px;
    right: 16px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}


#main-links{
    background-color: #f2f2f2;
    padding-bottom: 4em;
}

.row {
    display: flex;
    background-color: #f2f2f2;
}

.column {
    flex: 50%;
    background-color: #f1f1f3;
}

#photolink{
    float: left;
    padding-left: 35%;
    padding-top: 3em;
    background-color: rgba(0, 0, 0, 0);
}

#photolink2{
    float: right;
    padding-right: 35%;
    padding-top: 3em;
    background-color: rgba(0, 0, 0, 0);
}

.contact-form{
    padding-top: 3em;
    text-align: center;
    padding-bottom: 1em;
}

hr{
    size: 10;
}
footer{
    padding-top: 5em;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
}